In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("C:/Users/Vartotojas/Desktop/Financial analysis training/AAPL.csv", index_col=0, parse_dates=True)

In [19]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-10-11,142.270004,144.809998,141.809998,142.809998,142.014206,64452200
2021-10-12,143.229996,143.250000,141.039993,141.509995,140.721451,73035900
2021-10-13,141.240005,141.399994,139.199997,140.910004,140.124786,78762700
2021-10-14,142.110001,143.880005,141.509995,143.759995,142.958923,69907100
2021-10-15,143.770004,144.899994,143.509995,144.839996,144.032898,67940300
...,...,...,...,...,...,...
2022-10-04,145.029999,146.220001,144.259995,146.100006,146.100006,87830100
2022-10-05,144.070007,147.380005,143.009995,146.399994,146.399994,79471000
2022-10-06,145.809998,147.539993,145.220001,145.429993,145.429993,68402200
2022-10-07,142.539993,143.100006,139.449997,140.089996,140.089996,85859100
2022-10-10,140.419998,141.889999,138.570007,140.419998,140.419998,74827900

In [8]:
data.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [5]:
type(data)

pandas.core.frame.DataFrame

In [6]:
data["Close"]

Date
2021-10-11    142.809998
2021-10-12    141.509995
2021-10-13    140.910004
2021-10-14    143.759995
2021-10-15    144.839996
                 ...
2022-10-04    146.100006
2022-10-05    146.399994
2022-10-06    145.429993
2022-10-07    140.089996
2022-10-10    140.419998
Name: Close, Length: 252, dtype: float64

In [7]:
type(data["Close"])

pandas.core.series.Series

In [13]:
# Start calculations daily change formula Close - Open

daily_chg=data["Close"] - data["Open"]
daily_chg

Date
2021-10-11    0.539994
2021-10-12   -1.720001
2021-10-13   -0.330001
2021-10-14    1.649994
2021-10-15    1.069992
                ...
2022-10-04    1.070007
2022-10-05    2.329987
2022-10-06   -0.380005
2022-10-07   -2.449997
2022-10-10    0.000000
Length: 252, dtype: float64

In [11]:
type(daily_chg)

pandas.core.series.Series

In [12]:
# formule daily percentage change is (Close - Open) / Open * 100

daily_pct_chg = (data["Close"] - data["Open"])/data["Open"] * 100

daily_pct_chg

Date
2021-10-11    0.379556
2021-10-12   -1.200866
2021-10-13   -0.233646
2021-10-14    1.161068
2021-10-15    0.744239
                ...
2022-10-04    0.737783
2022-10-05    1.617260
2022-10-06   -0.260617
2022-10-07   -1.718814
2022-10-10    0.000000
Length: 252, dtype: float64

In [14]:
data["Close"].iloc[0]

142.809998

In [15]:
data["Close"].iloc[-1]

140.419998

In [17]:
# calculate how much you gain: Close divided by Close of the first day (data["Close"].iloc[0])
norm = data["Close"]/data["Close"].iloc[0]
norm

Date
2021-10-11    1.000000
2021-10-12    0.990897
2021-10-13    0.986696
2021-10-14    1.006652
2021-10-15    1.014215
                ...
2022-10-04    1.023038
2022-10-05    1.025138
2022-10-06    1.018346
2022-10-07    0.980954
2022-10-10    0.983264
Name: Close, Length: 252, dtype: float64

In [18]:
# LAst closing price we get first day close price multiply by norm last factor
data["Close"].iloc[0] * norm.iloc[-1]

140.419998

In [20]:
# the same calculation is in simplified way
data["Close"].iloc[-1]

140.419998