In [2]:
#pandas datareader

# install additional module pandas_datareader !pip install pandas_datareader

In [5]:
!pip install pandas_datareader

Requirement already satisfied: pandas_datareader in c:\users\vartotojas\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: lxml in c:\users\vartotojas\anaconda3\lib\site-packages (from pandas_datareader) (4.8.0)
Requirement already satisfied: pandas>=0.23 in c:\users\vartotojas\anaconda3\lib\site-packages (from pandas_datareader) (1.4.2)
Requirement already satisfied: requests>=2.19.0 in c:\users\vartotojas\anaconda3\lib\site-packages (from pandas_datareader) (2.27.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\vartotojas\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\vartotojas\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\vartotojas\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\vartotojas\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\vartotojas\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\vartotojas\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\vartotojas\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\vartotojas\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)

In [7]:

import pandas_datareader as pdr

In [8]:
import datetime as dt

In [14]:
ticker = "AAPL"
start = dt.datetime(2019, 1, 1)
end = dt.datetime(2020, 12, 31)

data = pdr.get_data_yahoo(ticker, start, end)

In [15]:
data.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2019-01-02  39.712502  38.557499  38.722500  39.480000  148158800.0  38.168350
2019-01-03  36.430000  35.500000  35.994999  35.547501  365248800.0  34.366501
2019-01-04  37.137501  35.950001  36.132500  37.064999  234428400.0  35.833584
2019-01-07  37.207500  36.474998  37.174999  36.982498  219111200.0  35.753826
2019-01-08  37.955002  37.130001  37.389999  37.687500  164101200.0  36.435406

In [16]:
data.index

DatetimeIndex(['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-07',
               '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11',
               '2019-01-14', '2019-01-15',
               ...
               '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
               '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=505, freq=None)

In [17]:
data.dtypes

High         float64
Low          float64
Open         float64
Close        float64
Volume       float64
Adj Close    float64
dtype: object

In [18]:
data.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-24,133.460007,131.100006,131.320007,131.970001,54930100.0,130.620895
2020-12-28,137.339996,133.509995,133.990005,136.690002,124486200.0,135.292664
2020-12-29,138.789993,134.339996,138.050003,134.869995,121047300.0,133.491257
2020-12-30,135.990005,133.399994,135.580002,133.720001,96452100.0,132.353012
2020-12-31,134.740005,131.720001,134.080002,132.690002,99116600.0,131.333527

In [22]:
data2 = pdr.get_data_stooq(ticker, start)
data2.head()

              Open    High       Low   Close      Volume
Date
2022-10-12  139.13  140.36  138.1600  138.34  70433744.0
2022-10-11  139.90  141.35  138.2200  138.98  77033672.0
2022-10-10  140.42  141.89  138.5729  140.42  74899002.0
2022-10-07  142.54  143.10  139.4450  140.09  85925559.0
2022-10-06  145.81  147.54  145.2200  145.43  68402169.0

In [28]:
nasdaq_sym = pdr.get_nasdaq_symbols()
nasdaq_sym.head()

,Nasdaq Traded,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
Symbol,,,,,,,,,,,
A,True,"Agilent Technologies, Inc. Common Stock",N,,False,100.0,False,NaN,A,A,False
AA,True,Alcoa Corporation Common Stock,N,,False,100.0,False,NaN,AA,AA,False
AAA,True,Listed Funds Trust AAF First Priority CLO Bond...,P,,True,100.0,False,NaN,AAA,AAA,False
AAAU,True,Goldman Sachs Physical Gold ETF Shares,Z,,True,100.0,False,NaN,AAAU,AAAU,False
AAC,True,Ares Acquisition Corporation Class A Ordinary ...,N,,False,100.0,False,NaN,AAC,AAC,False

In [26]:
nasdaq_sym.loc["AAPL"]

Nasdaq Traded                            True
Security Name       Apple Inc. - Common Stock
Listing Exchange                            Q
Market Category                             Q
ETF                                     False
Round Lot Size                          100.0
Test Issue                              False
Financial Status                            N
CQS Symbol                                NaN
NASDAQ Symbol                            AAPL
NextShares                              False
Name: AAPL, dtype: object

In [27]:
len(nasdaq_sym)

12194